
body {
  margin: 0;
  font-family: Arial;
}


/* Set body, and html to 100% of the screen size. */
body,
html {
  height: 100%;
}
#map{
  height: 100%;
}
#map1{
  height: 800%;
}

/* for id # and for class.*/
/* no need to nested inside but easier to read*/
.chartBox{
  width: 1400px;

}

a {
  color: blue;
}
#temp{
  border: 1em solid;
}


.contact-right iframe {
  width: 800px;
  height: 600px;
}
footer {
  margin: 0em;
  padding: 1.2em;
  background:black;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
